
body {
    font-family: 'Times New Roman', Times, serif;
  }
header {
    text-align: right;
    padding: 1%;
    height: 50px;
    background: #010304;
    color: #fff;
  }
.row {
    display: flex;
}
  nav ul{
    display: flex;
    float: right;
    list-style-type: none;
  }

  nav ul li{
    margin-right: 15px;
   
  }

  ul li a {
    text-decoration: none;
    color: white;
  }

.title {

    background:url("/assets/bluewood.jpg");
    width: 100%;
    height: 200px;
    line-height: 350px;
    color: #f0ead6;
    text-align: right;
    font-size: x-large;

}

.bigbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: xx-large; 
    padding: 10px;
}
.bigpic{
  height: 100%;
  width: 100%;
}
.bigpic:hover {
  opacity: 0.5;
 }

.leftbox {
    padding: 10px;
    width: 250px;
    text-align: right;
    border-right: 5px solid darkblue; 
 }
 .card {
    display: flex;
    
    width: 1150px;
    height: 300px;
    padding: 10px;
  }
 .smallcard {
    display: flex;
    width: 600px;
    height: 280px;
    padding: 10px;
    text-align: center;
  }
 .picture{
    height: 280px;
    width:550px;
  }
 .picture:hover {
  opacity: 0.5;
 }
 
 .toprow{
    padding: 10px;
    width: 1150px;
    height: 100%;
   
 }
 
.descr {
    padding: 10px;
}

.info{
    font-size: medium;
    padding: 10px;
    
}
footer {
    display: flex;
    padding: 2%;
    background: #010304;or: #fff;
    
  }

 
  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
    
    .smallcard {
      width: 100%;
      text-align: center;
    }
    .card {
      width: 100%;
      text-align: center;
    }
    .bigbox {
      width: 100%;
      text-align: center;
    }

  }